.home {
  &-header {
    min-height: 100vh;
    background-image: url("../assets/imgs/home-bg-default.jpg");
    background-color: $clr2;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &-heading {
      display: inline-block;
      text-align: center;
      font-family: dancing;
      font-size: rem(60px);
      padding: $pad-small-x;
      color: $clr-white;
      h1 {
        text-transform: capitalize;
        animation: slide-fade-top 0.8s ease;
        font-size: rem(50px);
        @include for-narrow-layout {
          font-size: rem(70px);
        }
        @include for-normal-layout {
          font-size: rem(90px);
        }
      }
      span {
        line-height: rem(40px);
        display: block;
        font-size: rem(25px);
        animation: slide-fade-top 0.8s ease;
        margin-bottom: rem(60px);
        @include for-narrow-layout {
          font-size: rem(35px);
        }
        @include for-normal-layout {
          font-size: rem(45px);
        }
      }
      &-link {
        display: inline-block;
        font-size: 0.4em;
        font-family: baloo, sans-serif;
        text-transform: uppercase;
        padding: rem(3px) rem(20px);
        animation: slide-bottom 0.8s ease;
        position: relative;

        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 2px solid $clr-white;
          border-radius: 100px;
          transition: transform 0.4s linear;
        }
        &::before {
          transform: scaleY(0);
        }
        @include hover-supported {
          &::after {
            transform: scaleX(0);
          }
          &::before {
            transform: scaleY(1);
          }
        }
      }
    }
  }
  &-slider {
    margin: 100px 0;

    &-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin: 20px 0 0;
      padding: 0 20px;
    }
  }
  &-genres {
    // margin-bottom: 200px;
    margin-bottom: 100px;
  }
  &-teaser {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(2, 1fr);
    &-figures {
        grid-column: 2 / 5;
        grid-row: 1 / 2;
        display: none;
        @include for-wide-layout {
            display: flex;
            grid-column: 2 / 8;
            margin-bottom: 20px;
        }
        figure:first-child {
            flex-basis: 100%;
            background-image: url('../assets/imgs/player.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 100%;
            margin-right: 20px;
            @include for-wide-layout {
                flex-basis: 50%;
                margin-right: 0;
            }
        }
        figure:last-child  {
            flex-basis: 50%;
            background-image: url('../assets/imgs/jukebox.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 0;
            display: none;
            @include for-wide-layout {
                display: initial;
                flex-basis: 50%;
            }
        }
    }
    &-info {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        text-align: center;
        padding: 0 30px;
        @include for-narrow-layout {
            padding: 0 20%;
        }
        @include for-wide-layout {
            padding: 0;
            grid-column: 8 / 11;
            text-align: left;
        }
        h2 {
            color: $clr2;
            white-space: wrap;
            font-size: 2rem;
            @include for-narrow-layout {
                font-size: 2.25rem;
                white-space: pre;
            }
        }
        p {
            width: unset;
            font-size: rem(28px);
            @include for-narrow-layout {
                font-size: 1.5rem;
            }
            @include for-wide-layout {
                width: 24ch;
            }
        }
    }
    &-teaser {
        grid-column: 1 / -1;
        grid-row: 2 / -1;
        height: 350px;
        background-color:  #303841;
        padding: 0 40px;
        position: relative;
        display: flex;
        justify-content: space-between;
        @include for-wide-layout {
            grid-column: 2 / 12;
        }
        figure {
            background-image: url('../assets/imgs/crowd.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: .1;
            mix-blend-mode: color-dodge;
        }
        &-img {
            height: 90%;
            align-self: flex-end;
            display: none;
            @include for-wide-layout {
                display: initial;
            }
        }
        &-txt {
            z-index: 9;
            color: $clr-white;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            h2 {
                font-size: 2rem;
                @include for-mobile-layout {
                    font-size: 2.25rem;
                }
            }
            p {
                margin-bottom: 40px;
                font-size: 1rem;
                width: 20ch;
                @include for-mobile-layout {
                    width: 30ch;
                    font-size: rem(24px);
                }
            }
            &-btn {
                font-size: rem(18px);
                border: 2px solid $clr-white;
                padding: rem(15px) rem(20px);
                border-radius: 3px;
                transition: all .3s;
                @include hover-supported {
                    background-color: $clr-white;
                    color: $clr-black;
                    transform: translateY(-3px);
                }
                &:active {
                    transform: translateY(0);
                }
            }
        }
    }
}
}


