.home {

    &-header {
        min-height: 100vh;
        background-image: url('../assets/imgs/home-bg-default.jpg');
        background-color: $clr3;
        background-blend-mode: multiply; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &-heading {
            display: inline-block;
            text-align: center;
            font-family: dancing;
            font-size: rem(60px);
            padding: $pad-small-x;
            color: $clr-white;
            
            h1 {
                text-transform: capitalize;
                animation: slide-fade-top .8s ease;
            }
            span {
                line-height: rem(40px);
                display: block;
                font-size: .5em;
                animation: slide-fade-top .8s ease;
                margin-bottom: rem(60px);
            }
            &-link {
                display: inline-block;
                font-size: .4em;
                font-family: baloo, sans-serif;
                text-transform: uppercase;
                padding: rem(3px) rem(20px);
                animation: slide-bottom .8s ease;
                position: relative;

                &::before, &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border: 2px solid $clr-white;
                    border-radius: 100px;
                    transition: transform .4s linear;
                }
                &::before {
                    transform: scaleY(0);
                }
                @include hover-supported {
                    &::after {
                        transform: scaleX(0);
                    }
                    &::before {
                        transform: scaleY(1);
                    }
                }
            }
        }
    }
    &-teaser {
        // padding: $pad-small-x;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, 1fr);

        &-figures {
            grid-column: 2 / 8;
            grid-row: 1 / 2;
            display: flex;
            margin-bottom: rem(20px);

            figure:first-child {
                flex-basis: 50%;
                background-image: url('../assets/imgs/player.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 100%;
            }
            figure:last-child  {
                flex-basis: 50%;
                background-image: url('../assets/imgs/jukebox.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: 0;
            }
        }
        &-info {
            grid-column: 8 / 11;
            grid-row: 1 / 2;
            margin-bottom: 40px;
            text-align: left;

            h2 {
                white-space: pre;
            }
            p {
                width: 24ch;
                font-size: rem(28px);
            }
        }
        &-teaser {
            grid-column: 1 / -1;
            grid-row: 2 / -1;
            height: 350px;
            background-color:  #303841;
            padding: 0 40px;
            position: relative;
            display: flex;
            justify-content: space-between;
            // margin-bottom: rem(20px);
            figure {
                background-image: url('../assets/imgs/crowd.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                opacity: .1;
                mix-blend-mode: color-dodge;
            }
            &-img {
                height: 90%;
                align-self: flex-end;
            }
            &-txt {
                z-index: 9;
                color: $clr-white;
                align-self: center;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            
                p {
                    margin-bottom: 40px;
                    width: 30ch;
                    font-size: rem(24px);
                }
                &-btn {
                    font-size: rem(18px);
                    border: 2px solid $clr-white;
                    padding: rem(15px) rem(20px);
                    border-radius: 3px;
                    transition: all .3s;

                    @include hover-supported {
                        background-color: $clr-white;
                        color: $clr-black;
                        transform: translateY(-3px);
                    }
                    &:active {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}