.signup {
  background-color: $clr-white;
  @include nav-clearfix;

  &-main {
    min-height: 80vh;

    
    &-title {
      text-align: center;
      margin-bottom: rem(60px);

      span {
        display: block;
        font-size: 0.5em;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      font-size: rem(22px);
      color: $clr2;
      padding-bottom: rem(80px);
      width: 60%;
      margin: auto;

      @media (max-width: $break-narrow) {
        width: 100%;
        font-size: 1.175rem;
      }

      > input {
        // inputs not in wrap
        width: 90%;

        @media (max-width: $break-normal) {
          width: 100%;
        }
      }

      label {
        left: 0;
        top: rem(-95px);
        cursor: text;
      }

      :placeholder-shown + label {
        top: rem(-64px);
        left: rem(11px);
        opacity: 0;
        width: fit-content;
      }

      .signup-main-userpass-inp-wrap {
        label {
          left: -37%;
          top: rem(-30px);

          @media (max-width: $break-normal) {
            left: -12px;
            top: -5.4875rem;
          }
        }

        :placeholder-shown + label {
          z-index: -1;

          @media (max-width: $break-normal) {
            top: -3.6875rem;
            left: 0;
          }
        }
      }
      button {
        align-self: center;
        padding: rem(3px) rem(20px);
        letter-spacing: rem(5px);

        @media (max-width: $break-narrow) {
          margin: rem(20px) auto auto auto;
        }
      }
    }

    &-userpass-inp-wrap {
      display: flex;
      margin-bottom: rem(35px);

      @media (max-width: $break-normal) {
        flex-direction: column;
        margin-bottom: 0;
        margin-top: rem(20px);
      }

      input {
        width: 45%;

        @media (max-width: $break-normal) {
          width: 100%;
        }
      }
    }

    &-inp-label-file {
      text-align: center;
      margin-bottom: rem(60px);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: rem(5px) rem(8px);
      width: 90%;
      @media (max-width: $break-normal) {
        width: 100%;
      }
      &-upload-icon {
        width: 50px;
        cursor: pointer;
        filter: grayscale(1);

        &.uploaded {
          filter: none;
        }
      }
      
      // &-inp-file {
      //   &::-webkit-file-upload-button {
      //     background-color: transparent;
      //     border-radius: 100px;
      //     padding: rem(5px) rem(20px);
      //     transition: all 0.3s;
      //     border: 2px solid $clr2;
      //     color: inherit;
      //     cursor: pointer;
      //     font-size: 1rem;

      //     @include hover-supported {
      //       background-color: $clr2;
      //       color: $clr-white;
      //     }
      //   }
      // }
    }
    &-loader{
      width: 50px;
      margin: 0 auto;
    }
    &-msg {
      text-align: center;
      color: transparent;
      margin-bottom: rem(40px);

      &.active {
        color: red;
      }
    }
  }
}
