.signup{
    background-color: #f3f3f3;
    
    &-navbar-backdrop{
        position: sticky;
        width: 100%;
        display: block;
        min-height: 100px;
        background-color: $clr3;
        // background-image: linear-gradient(to left top, rgba(#5cdb95, .8), rgba(#6add9b, .8), rgba(#77e0a2, .8), rgba(#83e2a8, .8), rgba(#8ee4af, .8)), url('../assets/imgs/app-bg-default.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: bottom;
        
        margin-bottom: rem(20px);
    }
    
    &-main {
        padding: 0 rem(20px) 0 rem(20px);

        &-subtitle{
            margin: 0 10px 40px 10px;
        }
        
        form {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
            font-size: rem(22px);
            color: $clr2;
            padding-bottom: rem(80px);

            label{
                // need to fix lable position
            }
            
            button{
                margin: 0px auto 20px 80%;
                width: rem(300px);
                letter-spacing: 1;
            }
        }

        &-inp-label-file{

        }
        &-inp-file {

            &::-webkit-file-upload-button{
                background-color: transparent;
                border-radius: 100px;
                padding: rem(5px) rem(20px);
                transition: all .3s;
                border: 2px solid $clr2;
                cursor: pointer;
              
                @include hover-supported {
                  background-color: $clr2;
                  color: $clr-white;
                  transform: translateY(-3px);
                }
                &:active {
                  transform: translateY(0);
                }
            }
        }
    }
}

