.station-app {
    background-color: $clr-white;
    padding-bottom: 60px;
    
    &-header {
        height: 35vh;
        background-image: linear-gradient(to left top, rgba(#5cdb95, .8), rgba(#6add9b, .8), rgba(#77e0a2, .8), rgba(#83e2a8, .8), rgba(#8ee4af, .8)), url('../assets/imgs/app-bg-default.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        margin-bottom: rem(20px);
        padding-bottom: rem(20px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

        &-filter-cmp { 
            grid-row: 5 / 6;
            grid-column: 2 / 5;

            @media (max-width: $break-normal){
                grid-column: 1 / -1;
                margin-left: 20px;
                margin-right: 20px;
            }
        }

        &-link{
            grid-column: 3/ 4; 
            grid-row: 3 / 4;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $clr5;
            letter-spacing: 1.2px;
            font-size: rem(18px);
            text-transform: uppercase;
            font-weight: 700;

            @media (max-width: $break-normal){
                grid-column: 2 / 5; 
                margin-left: 20%;
                margin-right: 20%;
            }

            @media (max-width: 500px){
                grid-row: 4 / 5;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }

            @include hover-supported {
                color: $clr5;
                background-color: rgba(5, 56, 107, .9);
            }
        }
    }
    &-list {

        &-title{
            text-align: center;
            text-transform: uppercase;
        }
    }
}
