.station-app {
    background-color: $clr-white;
    min-height: 100vh;
    @include player-controller-ghost;
    
    &-header {
        height: rem(350px);
        background-image: url('../assets/imgs/app-bg-default.jpg');
        background-color: $clr3;
        background-blend-mode: soft-light; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        margin-bottom: rem(20px);
        padding-bottom: rem(20px);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

      

        &-link {
            grid-column: 3/ 4; 
            grid-row: 3 / 4;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $clr-white;
            letter-spacing: 1.2px;
            font-size: rem(18px);
            text-transform: uppercase;
            padding: 0;
            font-weight: 700;
            transition: all .3s;
            border: 2px solid $clr-white;
            border-radius: 100px;

            @include hover-supported {
                background-color: $clr-white;
                color: $clr1;
            }
            @media (max-width: $break-normal){
                grid-column: 2 / 5; 
                margin-left: 20%;
                margin-right: 20%;
            }
            @media (max-width: 500px){
                grid-row: 4 / 5;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
    &-list {

        &-title{
            text-align: left;
            font-size: rem(24px);
            text-transform: uppercase;
        }
    }
}
