html {
    font-weight: 300;
    color: $clr-black;
    font-family: baloo, sans-serif;
}
h2, h3 {
    font-family: overpass, serif;
    font-size: rem(36px);
    text-transform: capitalize;
    margin-bottom: 20px;
}
#app {
    overflow-x: hidden;
}