/// Site Fonts
@font-face {
    font-family: dancing;  /// sans-serif  ----   main header font
    src: url('../assets/fonts/DancingScript-Medium.ttf');
}
@font-face {
    font-family: overpass;  /// sans-serif  ----  sub headers font
    src: url('../assets/fonts/Overpass-SemiBold.ttf');
}
@font-face {
    font-family: baloo;  /// sans-serif   ----  text font
    src: url('../assets/fonts/BalooThambi2-Regular.ttf');
}

/// Logo Fonts
@font-face {
    font-family: monoton;  /// monospace, ---- O-letter logo
    src: url('../assets/fonts/Monoton-Regular.ttf');
}
@font-face {
    font-family: odibee;  /// sans seriff  ----  rest of logo
    src: url('../assets/fonts/OdibeeSans-Regular.ttf');
}




// @font-face {
//     font-family: coiny;  /// sans seriff  ----  try logo
//     src: url('../assets/fonts/Coiny-Regular.ttf');
// }


