
.ratio-16-9 {
  @include aspect-ratio(100, 56);
}
.ratio-square {
  @include aspect-ratio(100, 100);
}
.ratio-card {
  @include aspect-ratio(80, 100);
}
.ratio-poster {
  @include aspect-ratio(100, 150);
}

.btn-link {
  background-color: transparent;
  border: none;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
}



.form-inp {
  padding: rem(5px) rem(10px);
  background-color: transparent;
  border: none;
  border-bottom: 4px solid $clr2;
  color: $clr-black;
  margin-bottom: rem(20px);

  &::placeholder {
    color: $clr2;
  }
  & + label {
    position: relative;
    top: rem(-85px);
    left: -32%;
    transition: all .4s ease-out;
  }
  &:placeholder-shown + label {
    top: -45px;
    left: -30%;
    opacity: 0;
  }
}

.btn {
  background-color: transparent;
  border-radius: 100px;
  padding: rem(5px) rem(20px);
  transition: all .3s;
  border: 2px solid $clr2;

  @include hover-supported {
    background-color: $clr2; 
    color: $clr-white;
    transform: translateY(-3px);
  }
  &:active {
    transform: translateY(0);
  }
}

.select{ 

  font: inherit;
  padding: 5px;
  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, $clr1 50%),
    linear-gradient(135deg, $clr1 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

   &:focus {
    background-image:
      linear-gradient(45deg, $clr2 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, $clr2 50%);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: $clr1;
    outline: 0;
   }
}