///// Color variables
$clr1: #010038;   /// links & dark text  
$clr2: #293a80;
$clr3: #537ec5;   /// main color
$clr4: #f39422;
$clr5: #EDF5E1;     

// $clr1: #05386B;   /// links & dark text  
// $clr2: #379683;
// $clr3: #5CDB95;   /// main color
// $clr4: #8EE4AF;
// $clr5: #EDF5E1;     




$clr-black: #303841;
$clr-white: #F3F3F3;     
$clr-logo: deeppink;


//// Media break points
$break-wide: 1200px;
$break-normal: 900px;
$break-narrow: 600px;
$break-mobile: 400px;

/// Padding
$pad-small-x: 0 20px;


