.chat-room {
  display: flex;
  flex-direction: column;
  
  header {
      background-color: darken($clr-white, 10%);
      text-align: center;
      background-color: #303841;
      color: white;
      border-radius: 2px;
    }
    main {
        flex-grow: 1;
    }
    .chat {
        width: 100%;
        height: 180px;
        overflow-y: auto;
        position: relative;
        padding: rem(20px) rem(10px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    &-msg {
      border: 1px solid $clr-black;
      border-radius: 1rem;
      padding: rem(3px) rem(5px);

      &:not(:last-child) {
        margin-bottom: rem(10px);
      }
      &:nth-of-type(odd) {
        background-color: rgba($clr4, .1);
      }
      span {
        font-weight: 700;
      }
    }
  }
  form {
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    border-radius: 10px;

    [type="text"] {
      flex-grow: .75;
      padding: rem(5px) rem(10px);
      text-transform: capitalize;

      &:focus {
        border-color: $clr4;
      }
    }
    input {
      border-radius: 5px;
      border: 1px solid #cacaca;
    }
    button {
      background-color: $clr-white;
      border: 1px solid #c9c9c9;
      transition: background-color 0.3s linear;
      text-transform: capitalize;
      white-space: nowrap;
      border-radius: 5px;

      @include hover-supported {
        background-color: darken($clr-white, 15%);
      }
    }
  }
}
