.genre-cubes {
  background-color: $clr1;
  color: $clr-white;
  margin-bottom: rem(20px);
  padding: rem(10px);
  &-header {
    text-align: center;
    margin: 0;
  }
  &-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    &-card {
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      margin-bottom: rem(5px);
      width: 205px;
      &-title{
          text-align: center;
          font-size: rem(32px);
          text-transform: capitalize;
      }
    }
  }
}
