

.main-nav {
  position: fixed;
  z-index: 98;
  top: 0;
  left: 0;
  width: 100%;
  color: $clr-white;
  transition: background-color .4s linear;



  .main-logo {
    font-size: rem(32px);
    font-family: odibee, sans-serif;

    span:first-child {
      color: $clr3;
    }
    &-o {
      font-family: monoton, monospace;
    }
  }

  &-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $clr-black;
    transform: translateX(100%);
    transition: transform .6s linear;

    li {
      margin-bottom: rem(60px);
    }
    &-link {
      text-transform: uppercase;
      border: 1px solid transparent;
      border-radius: 100px;
      padding: rem(2px) rem(10px);
      transition: color .4s linear, border-color .4s linear;

        
      @include hover-supported {
        color: $clr4;
        border-color: $clr4;
      }
    }
    .router-link-exact-active {
      color: $clr4;
      border-color: $clr4;
    }
  }
  &-mobile-btn {
    transform: rotateZ(90deg);
    display: inline-block;
    cursor: pointer;
    font-size: rem(24px);
    z-index: 99;
    user-select: none;

    &::before,
    &::after {
      content: "|";
      display: inline-block;
      transition: transform 0.3s linear;
    }
  }
  [type="checkbox"]:checked + &-mobile-btn {
    span {
      opacity: 0;
    }
    &::before {
      transform: translateX(10px) rotateZ(315deg);
    }
    &::after {
      transform: translateX(-5px) rotateZ(-315deg);
    }
  }
  [type="checkbox"]:checked ~ &-nav {
      transform: translateX(0);
  }
  &.colored {
      background-color: $clr-black;
  }
}

@include for-normal-layout {
  .main-nav {
    &-nav {
      position: initial;
      width: unset;
      height: unset;
      min-width: 40%;
      flex-direction: row;
      justify-content: space-between;
      background-color: transparent;
      transform: none;

      li {
        margin-bottom: 0;
        &:first-child {
            display: none;
        }
      }
    }
    &-mobile-btn {
      display: none;
    }
  }
}
