.player-controller {
    background-color: $clr-black;
    color: $clr-white;
    position: fixed;
    bottom: 0;
    width: 100vw;
    z-index: 99;
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 700;
    
    // &-youtube-warp {
    //     display: none;
    // }

    &-now-playing {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        padding-top: 10px;
        
        &-img{
            height: 40px;
            border-radius: 50%;
        }
    }
    &-title {
        text-transform: uppercase;
    }
    &-controler {
        border-radius: 25px;
        max-width: 1060px;
        padding-bottom: 10px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        
        &-volume{
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;

            // @include for-moblie-layout {
            //     left: 15px;
            //     bottom: 30px;
            //     position: fixed;
            // }

            &-icon{
                height: 30px;
                transition: filter .3s;
            }

            &:hover .player-controller-controler-volume-icon {
                filter: invert(50%) sepia(30%) saturate(18%) hue-rotate(8deg) brightness(94%) contrast(87%);
            }

            &-range-wrap{
                display: inline-flex;
                border-radius: 15px;
                padding: 11px 8px 11px 8px;
                background-color: $clr4;
                transform: rotateZ(-90deg) translateX(89px) translateY(-92px);
                position: relative;
                opacity: 0;
                transition: opacity .3s;
                
                &:hover{
                    opacity: .9;
                }

                input[type=range] {
                    cursor: pointer;
                    -webkit-appearance: none;

                    &::-webkit-slider-thumb {
                        border: 1px solid #00001E;
                        height: 16px;
                        width: 16px;
                        border-radius: 15px;
                        background: #FFFFFF;
                        -webkit-appearance: none;
                        margin-top: -5.5px;
                    }

                    &::-webkit-slider-runnable-track {
                        width: 100%;
                        height: 5px;
                    }
                }
            }

            &:hover .player-controller-controler-volume-range-wrap{
                opacity: .9;
            }
        }

        &-btns{
            display: flex;
            margin: 0 15px 0px 15px;

            @media (max-width: $break-mobile){
                margin: 0 15px 8px 15px;
            } 

            >*{
                margin: 0 5px 0 5px;
            }
            
            img{
                cursor: pointer;
                height: 30px;
                transition: filter .3s;
                
                &:hover{
                    filter: invert(50%) sepia(30%) saturate(18%) hue-rotate(8deg) brightness(34%) contrast(87%);
                }
            }

            &-loader{
                margin: 0 5px 0 5px;
                height: 30px;
                width: 30px;
            }
        }

        &-playback{
            display: flex;
            align-items: center;

            &-time-elapsed-digital {
                font-family: monospace;
                margin: 0 5px 0 5px;
                font-weight: 600;
            }

            &-timeline {
                width: 200px;
                height: 7px;
                border-radius: 10px;
                border: 1px inset;
            }
     
            &-timeline-progress-bar {
                background-color: $clr3;
                height: 100%;
                width: 0%;
            }
        }
        

    }
}


