.search-song {
    height: rem(650px);

    @include for-normal-layout {
        height: 100%;
    }
    &-inp {
        width: calc(100% - 6px);
        margin: 3px;
        padding: rem(5px) rem(10px);
        padding-right: rem(40px);
        text-transform: capitalize;
        border-radius: 3px;
        background-image: url('../assets/imgs/icons/search.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: 98%;

        &:focus {
            border-color: $clr1;
        }
    }
    &-list {
        height: rem(600px);
        width: 100%; 
        position: relative;
        overflow-y: auto;
        
        @include for-normal-layout {
            height: rem(640px);
        }

        &-item {
            padding: rem(10px) rem(20px);
            display: flex;
            align-items: center;
            
            &:not(:last-child) {
                border-bottom: 1px solid $clr-black;
            }
            &-btn {
                background-color: transparent;
                border: none;
                cursor: pointer;
    
                .icon svg {
                    width: 20px;
                    height: 20px;
                    margin-right: rem(20px);
                    user-select: none;
                    fill: lighten($clr-black, 25%);
                    transition: all .3s linear;

                    @include hover-supported {
                        fill: $clr-black;
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}