.station-preview{
    &-title{
        font-size: 1rem;
        margin: 0;
    }

    &-description{
        font-size: .6rem;
    }

    &-card-img{
        cursor: pointer;
        // background-size: contain;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 5px;
        & >*{
            opacity: 0;
            transition: opacity .3s;
        }
        &:hover{
            & >*{
                opacity: 1;
            }
        }
        button{
            height: fit-content;
            width: fit-content;
            margin: auto;
        }
    }
}