.station-preview {

    &-title{
        font-size: rem(18px);
        margin: 0;
        max-width: 10ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    
    &-description{
        font-size: .8em;
        cursor: pointer;
    }
    
    &-img {
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
        cursor: pointer;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: rem(5px);
        @include hover-supported {
            & button {
                transform: translateY(0);
                opacity: 1;
            }
            .station-preview-info {
                opacity: 1;
            }
        }
        .home & button {
            display: none;
        }
        button {
            height: fit-content;
            width: fit-content;
            margin: auto;
            background-color: transparent;
            border-color: transparent;
            transition: all .3s linear;
            
            .play-btn {
                width: 25%;
                height: 25%;
                fill: $clr3;
                stroke: none;
                filter: drop-shadow(0 0 2px $clr-black);
            }
        }
        
        @media not all and (pointer: coarse) {
            button {
                transform: translateY(30%);
                opacity: 0;
            }
        }
    }
    &-info {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        top: unset;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: opacity .3s linear;
        padding: 5px;
        background: linear-gradient(0deg,rgba(0,0,0,.5),transparent);
        height: 40px;
        &-icon {
            width: 25px;
            height: 25px;
            fill: red;
            stroke: none;
            filter: drop-shadow(0 0 1px $clr-black);
            margin-left: rem(10px);
        }
        &-avatar {
            height: 25px;
            width: 25px;
            object-fit: cover;
            border-radius: 50%;
            filter: drop-shadow(0 0 1px $clr-black);
        }
    }
}

