.station-player {
    grid-column: 1 / 3;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-top: rem(31px);
    height: 50rem;

    .youtube-iframe {
        background-color: #fff;
        border-radius: 3px;
        padding: rem(20px);
        position: relative;
        display: flex;
        align-items: center;

        h2 {
            max-width: 450px;
            font-size: rem(24px);
            text-transform: uppercase;
            overflow: hidden;
            white-space: wrap;
            text-overflow: ellipsis;
        }
        &-controller {
            position: absolute;
            bottom: rem(20px);
            left: 125px;
            transform: translateX(-50%);
        }
        &-claps-container{
            position: absolute;
            right: 5px;
            bottom: 0;
            display: flex;
            align-items: center;
            &-btn img{
                width: rem(28px);
            }
            &-rate{
                font-size: rem(28px);
                color: $clr2;
            }
        }
    }
    .youtube-container {
        width: 250px;
        margin-right: rem(20px);
    }

    &-playlist {

        .drag-item {

            span {
                display: inline-block;
                cursor: grab;

                &:active {
                    cursor: grabbing;
                }
            }
        }
    }
}
.flip-list-move {
  transition: transform .5s;
}
.no-move {
  transition: transform 0;
}
.ghost {
  opacity: 0.5;
  background: rgba($clr4, .5);
}
.list-group {
    min-height: 20px;
}
.list-group-item {
    cursor: move;
}
