
.station-filter {
    grid-row: 5 / 6;
    grid-column: 2 / 5;
    //display: flex;
    
    @media (max-width: $break-narrow){
        flex-wrap: wrap;
    }
    @media (max-width: $break-normal){
        grid-column: 1 / -1;
        margin-left: 20px;
        margin-right: 20px;
    }

    &-search-select {
        width: 25%;
        border: none;
        cursor: pointer;
        font-family: baloo, sans-serif;
        font-size: 1rem;
        border-radius: 5px 0 0 5px;

        @media (max-width: $break-narrow){
            width: 50%;
            border-radius: 5px 0 0 0;
        }
    }

    &-sort-select {
        width: 20%;
        border: none;
        cursor: pointer;
        font-family: baloo, sans-serif;
        font-size: 1rem;
        border-radius: 0 5px 5px 0;

        @media (max-width: $break-narrow){
            width: 50%;
            border-radius: 0 5px 0 0;
        }
    }
    
    [type=text] {
        border: none;
        width: 55%;
        padding: 7px;

        @media (max-width: $break-narrow){
            order: 1;
            width: 100%;
            border-radius: 0 0 5px 5px;
        }
    }
}